
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.container {
    max-width: 400px;
}

.card {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#login-form{
    width: 500px;
    min-height: 400px;
    border-radius: 18px;
    padding:60px 20px  20px 20px;
    box-shadow: red 0px 0px 0px 0px, red 0px -1px 20px 1px;
    display: flex;
    flex-direction: column;
    gap: 40px ;
}
input{
    padding: 16px;
    font-size: 18px;
    outline: none;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: red 0px 0px 10px 0px, red 0px 3px 7px -3px;
    color: #fff;
}
button{
    padding: 16px;
    /* background-color: #f53b3b; */
    color: #fff;
    font-size: 22px;
    transition: 0.3s;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: red 0px 0px 10px 0px, red 0px 3px 7px -3px;
}
button:active{
    transform: scale(0.95);
}
::placeholder{
    font-size: 18px;
    background-color: transparent;
    color: #fff; 
}

#login-form .form-control {
    margin-bottom: 15px;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading {
    margin-right: 10px;
}

